// === Colors ===
$white-1: #ffffff;
$white-2: #f1f5f7;
$white-3: #eeeeee;

$black-1: #0f0f0f;
$black-2: #1d1d1d;
$black-3: #262727;

$good-1: #3b753e;
$warn-1: #fff93d;
$bad-1: #ac3e3e;
$note-1: #2e8bc0;

$good-a: rgba(11, 252, 7, 0.5);
$warn-a: rgba(252, 248, 7, 0.5);
$bad-a: rgba(252, 7, 11, 0.5);

$aoe-gry1: #f2f2f2;
$aoe-gry1-5: #e7e7e7;
$aoe-gry2: #e0e0e0;
$aoe-gry3: #bdbdbd;
$aoe-gry3-5: #a0a0a0;
$aoe-gry4: #828282;
$aoe-gry5: #4f4f4f;
$aoe-gry6: #333333;

$aoe-blk1: #262727;
$aoe-blk2: #1d1d1d;
$aoe-blk3: #0f0f0f;

$aoe-robin-5: #effdfc;
$aoe-robin-4: #9bdbd8;
$aoe-robin-3: #9bdbd8;
$aoe-robin-2: #9bdbd8;
$aoe-robin-1: #9bdbd8;
$aoe-robin0: #9bdbd8;
$aoe-robin1: #9bdbd8;
$aoe-robin2: #9bdbd8;
$aoe-robin3: #15838c;

$aoe-good-5: #effdfc;
$aoe-good-4: #defafa;
$aoe-good-3: #54dbe5;
$aoe-good-2: #bcf5f4;
$aoe-good-1: #28d2df;
$aoe-good0: #1fc2ce;
$aoe-good1: #1cadb8;
$aoe-good2: #1898a2;
$aoe-good3: #15838c;

$aoe-warn-4: #ed89bd;
$aoe-warn-3: #e554a0;
$aoe-warn-2: #e23e93;
$aoe-warn-1: #df2887;
$aoe-warn0: #ce1f6c;
$aoe-warn1: #b81c6d;
$aoe-warn2: #a21860;
$aoe-warn3: #8c1553;

// ==== NDS ====
$nds-pnk1: #faeaf9;
$nds-pnk2: #ffd3e6;
$nds-pnk3: #f491c2;

$nds-crm1: #fff1e4;
$nds-crm2: #fbd4af;
$nds-crm3: #e9bc95;

$nds-blu1: #7cdbff;
$nds-blu2: #082de8;
$nds-blu3: #393264;
$nds-blu4: #58a2bb; // gk

$nds-grn1: #b0eedd;
$nds-cly1: #7e3b32;
$nds-mel1: #ff8d8c;

// === Spaces ===
