@import 'config';
// ============
// === core ===

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  left: 0;
  width: 100%;
}

body {
  -webkit-flex: 1 0;
  -ms-flex: 1; /* IE 10 */
  flex: 1 0;

  font-family: 'Exo 2', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.3;

  background-color: $white-2;
  color: $black-1;
}

.chat {
  text-transform: none;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

//  Display
.fill-full {
  height: 100%;
  left: 0;
  width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.msg-chat {
  display: flex;
}
.msg-them {
  justify-content: flex-start;
  text-align: left;
}
.msg-self {
  justify-content: flex-end;
  text-align: right;
}

a {
  text-decoration: none;
  padding-top: 4px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  text-justify: center;
}

.align-left {
  text-align: left;
}
// ANIMATE
.styleIcon {
  @media only screen and (max-width: 600px) {
    /* For desktop: */
    width: calc(100% + 32px);
  }
}
.hoverColor {
  &:hover {
    background-color: #bdbdbd; /* $aoe-gry3 */
  }
}

.activeItem {
  background-color: $aoe-gry1;
  &:hover {
    background-color: #ededed;
  }
}
.inactiveItem {
  &:hover {
    background-color: $aoe-gry1-5;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0.1rem;
  outline: none;
  margin: 1px;
  padding: 0px;

  cursor: pointer;
  -webkit-appearance: none;
  text-decoration: none;
  text-align: center;

  will-change: transform;
  transform: scale(1);
  transition: transform 480ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:not(:last-of-type) {
    margin-right: 3px;
  }

  &:hover {
    transform: scale(1.02);
  }
}
.button:hover {
  opacity: 0.85;
}
.button:active {
  box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}
.fade {
  transition: opacity 0.25s ease-in-out;
}
.btn {
  text-align: center;
  width: fit-content;
  margin: 2px 4px;
  padding: 6px 6px 3px 6px;

  cursor: pointer;
  will-change: transform;
  transform: scale(1);
  transition: transform 480ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    transform: scale(1.02);
  }
}
// =================
// ===   alert   ===
.alert {
  width: 100vw;
}

.alert-good {
  padding: 4px 8px;
  background-color: $aoe-good2;
  // color: $aoe-blk2;
  color: $aoe-gry2;
  font-weight: bold;
}
.alert-warn {
  padding: 4px 8px;
  background-color: $aoe-warn2;
  color: $aoe-gry2;
  font-weight: bold;
}

// =================
// ===   mobile  ===

// =================
// ===   Edges   ===
.marg-btn {
  margin: 2px 4px;
}
.pad-btn {
  padding: 2px 4px;
}

// =================
// ===   Color   ===

.bg-active {
  background-color: $aoe-gry1;
}
.bg-idle {
  background-color: $aoe-gry3;
}
// .bg-active {
//   background-color: #6b6654;
// }
.bg-black {
  background-color: $aoe-blk1;
}
.bg-eerie {
  background-color: #18191a;
}
.bg-jet {
  background-color: #3c3c3a;
}
.bg-prop {
  background-color: #484846;
}
.bg-pale {
  background-color: #c4c2b7;
}

//  aoe-bg grayscale
.bg-gry1 {
  background-color: $aoe-gry1;
}
.bg-gry1-5 {
  background-color: $aoe-gry1-5;
}
.bg-gry2 {
  background-color: $aoe-gry2;
}
.bg-gry3 {
  background-color: $aoe-gry3;
}
.bg-gry3-5 {
  background-color: $aoe-gry3-5;
}
.bg-gry4 {
  background-color: $aoe-gry4;
}
.bg-gry5 {
  background-color: $aoe-gry5;
}
.bg-gry6 {
  background-color: $aoe-gry6;
}
.bg-blk1 {
  background-color: $aoe-blk1;
}
.bg-blk2 {
  background-color: $aoe-blk2;
}
.bg-blk3 {
  background-color: $aoe-blk3;
}

//  aoe-bg action

//  ~~ GOOD ~~
.bg-act-3 {
  background-color: $aoe-good-3;
}
.bg-act-2 {
  background-color: $aoe-good-2;
}
.bg-act-1 {
  background-color: $aoe-good-1;
}
.bg-act0 {
  background-color: $aoe-good0;
}
.bg-act1 {
  background-color: $aoe-good1;
}
.bg-act2 {
  background-color: $aoe-good2;
}
.bg-act3 {
  background-color: $aoe-good3;
}

//  ~~ WARN ~~
.bg-warn-3 {
  background-color: $aoe-warn-3;
}
.bg-warn-2 {
  background-color: $aoe-warn-2;
}
.bg-warn-1 {
  background-color: $aoe-warn-1;
}
.bg-warn0 {
  background-color: $aoe-warn0;
}
.bg-warn1 {
  background-color: $aoe-warn1;
}
.bg-warn2 {
  background-color: $aoe-warn2;
}
.bg-warn3 {
  background-color: $aoe-warn3;
}

.txt-black {
  color: #18191a;
}
.txt-gry2 {
  color: $aoe-gry2;
}
.txt-gry3 {
  color: $aoe-gry3;
}
.txt-gry5 {
  color: $aoe-gry5;
}
.txt-gry6 {
  color: $aoe-gry6;
}
.txt-active {
  color: #18191a;
  font-weight: bold;
}
.txt-jet {
  color: #3c3c3a;
}
.txt-pale {
  color: #c4c2b7;
}
.txt-white {
  color: $aoe-gry1;
  font-weight: bold;
}

.txt-active {
  color: $aoe-blk3;
  font-weight: 777;
}

.txt-suggest {
  color: #1fcecb;
  font-size: 1.02rem;
}
.txt-warn {
  color: $aoe-warn-2;
}
.txt-mine {
  color: $aoe-good2;
  font-weight: bold;
}
.txt-they {
  padding: 0px 12px;
  color: $aoe-good3;
  font-weight: bold;
}
.txt-idle {
  color: $aoe-gry5;
}
