@import 'config';
// ============
// === core ===

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  left: 0;
  width: 100%;
}

body {
  font-family: 'Exo 2', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  background-color: $white-2;
  color: $black-1;
}

.chat {
  text-transform: none;
}

a {
  text-decoration: none;
  padding-top: 4px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  text-justify: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0.1rem;
  outline: none;
  margin: 1px;
  padding: 0px;

  cursor: pointer;
  -webkit-appearance: none;
  text-decoration: none;
  text-align: center;

  will-change: transform;
  transform: scale(1);
  transition: transform 480ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }

  &:hover {
    transform: scale(1.015);
  }
}

.button:hover {
  opacity: 0.85;
}

.button:active {
  box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

// =================
// ===   Edges   ===
.marg-btn {
  margin: 2px 4px;
}
.pad-btn {
  padding: 2px 4px;
}

// =================
// ===   Color   ===

.bg-active {
  background-color: $aoe-gry1;
}
.bg-idle {
  background-color: $aoe-gry3;
}
// .bg-active {
//   background-color: #6b6654;
// }
.bg-black {
  background-color: $aoe-blk1;
}
.bg-eerie {
  background-color: #18191a;
}
.bg-jet {
  background-color: #3c3c3a;
}
.bg-prop {
  background-color: #484846;
}
.bg-pale {
  background-color: #c4c2b7;
}
.bg-gry2 {
  background-color: $aoe-gry2;
}
.bg-gry1 {
  background-color: $aoe-gry1;
}

.txt-black {
  color: #18191a;
}
.txt-jet {
  color: #3c3c3a;
}
.txt-pale {
  color: #c4c2b7;
}

.txt-active {
  color: $aoe-blk3;
  font-weight: 777;
}
.txt-idle {
  color: $aoe-gry5;
}
