/*   Drop Down   */

.drop-story-enter {
  overflow: hidden;
}
.drop-story-enter-active {
  overflow: hidden;

  transition: all 0.4s ease-in-out;
}
.drop-story-exit {
  overflow: hidden;
}
.drop-story-exit-active {
  overflow: hidden;

  transition: all 0.4s ease-in-out;
}
